@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.nav-link.active {
    text-decoration: none;
    border-bottom: 2px solid blue;
}